* {
  border: 1px solid black;
}

html, body {
  background:  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  color: #89cb3e;
}

#header {
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 100px;
  color: #89cb3e;
}

#smalleheader {
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
  color: #89cb3e;
}

.container{
  background-color: #313131;
  padding: 10px;
  border-radius: 8px;
}

.btn{
  background-color: #89cb3e;
}

img {
  height: 200px;
}
