html {
  background: url('https://images.unsplash.com/photo-1484882918957-e9f6567be3c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ab44aaad65adc3c10fc84f31b39a0a1&auto=format&fit=crop&w=1000&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  font-family: 'VT323', monospace;
}

.container{
  background-color: rgba(73,73,73,0.6);
  padding: 10px;
  border-radius: 8px;
}

#wizard {
  background-color: red;
}
